---
import BaseHead from "../../base/BaseHead.astro";
---

<BaseHead
  title="Geeta in Mail"
  description="Get geeta insights directly in your inbox"
>
  <style>
    @reference "./../../styles/globals.css";

    p {
      @apply text-xl md:text-2xl text-justify text-gray-700;
    }

    input {
      @apply bg-white  h-10 w-sm md:w-xl max-w-4xl border p-2 border-accent rounded-sm placeholder:text-black placeholder:mr-2 placeholder:font-medium;
    }
    button {
      @apply bg-orange-400  px-3 py-2 text-white font-semibold;
    }
  </style>
  <div class="bg-[#faf3dd]">
    <div
      class="h-screen max-w-4xl flex mx-auto flex-col gap-4 justify-center items-center text-black p-2"
    >
      <h1 class="text-center text-5xl md:text-8xl font-black">
        Geeta In
        <span class="bg-[#EA4335] text-white p-2">Mail</span> is Launching soon.
      </h1>
      <p class="italic">Until Then...</p>
      <p>
        Join the free daily email for people who want more clarity and less
        chaos in their daily life.
      </p>

      <p>
        Join the waitlist to receive one short, practical teaching from the
        Bhagavad Gita every morning explained in simple words and connected to
        real-life problems like stress, confusion, and decision-making.
      </p>
      <form
        method="get"
        action="https://checkout.dodopayments.com/buy/pdt_0NYJdMguBw2aoAABebn3m"
      >
        <div class="flex flex-col m-2 p-2 gap-2">
          <input name="quantity" hidden value="1" />
          <input name="disableFullName" hidden value="true" />
          <input name="disableEmail" hidden value="true" />
          <input
            name="redirect_url"
            hidden
            value="https://geeta.prasuco.com/purchase_success"
          />
          <input type="text" name="fullName" placeholder="Your Name" required />
          <input
            type="email"
            name="email"
            placeholder="Your Best Email"
            required
          />

          <button class="" type="submit"> Try Now </button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="footer fixed bottom-0 py-1 px-2  text-gray-400 hover:underline w-screen flex flex-row items-center justify-end"
  >
    <a href="/"> &copy; geeta.prasuco.com</a>
  </div>
</BaseHead>
