---
import BaseHead from "../../base/BaseHead.astro";
---

<BaseHead
  title="Geeta in Mail"
  description="Get Geeta insights directly in your inbox"
>
  <style>
    @reference "./../../styles/globals.css";

    p {
      @apply text-lg md:text-xl leading-relaxed  text-gray-700 max-w-2xl;
    }

    input {
      @apply bg-white h-11 w-full max-w-xl border border-gray-300 px-3 rounded-md placeholder:text-gray-500 placeholder:font-normal focus:outline-none focus:ring-2 focus:ring-orange-300 focus:border-orange-400 transition;
    }

    button {
      @apply bg-orange-400 px-6 py-3 text-white font-semibold;
    }
  </style>

  <div class="min-h-screen bg-[#faf3dd] flex items-center">
    <div
      class="max-w-5xl mx-auto flex flex-col gap-5 justify-center items-center text-black px-4 py-16"
    >

      <h1 class="text-center text-4xl md:text-7xl font-black leading-tight">
        Geeta In
        <span class="bg-[#EA4335] text-white px-3 py-1"> Mail </span>
        <span class="block mt-2 text-3xl md:text-5xl font-bold">
          is launching soon
        </span>
      </h1>

      <p class="italic text-gray-600">Until then…</p>

      <p class="font-medium">
        Join the free daily email for people who want more clarity and less
        chaos in their daily life.
      </p>

      <p>
        Join the waitlist to receive one short, practical teaching from the
        Bhagavad Gita every morning; explained in simple words and connected to
        real-life problems like stress, confusion, and decision-making.
      </p>


      <form
        method="get"
        action="https://checkout.dodopayments.com/buy/pdt_0NYJdMguBw2aoAABebn3m"
        class="mt-6 w-full flex justify-center"
      >
        <div class="p-6 md:p-8 flex flex-col gap-3 w-full max-w-xl">
          <input name="quantity" hidden value="1" />
          <input name="disableFullName" hidden value="true" />
          <input name="disableEmail" hidden value="true" />
          <input
            name="redirect_url"
            hidden
            value="https://geeta.prasuco.com/purchase_success"
          />

          <input type="text" name="fullName" placeholder="Your name" required />
          <input
            type="email"
            name="email"
            placeholder="Your best email"
            required
          />

          <button type="submit" class="mt-2"> Join Now </button>
        </div>
      </form>

      <p class="text-sm text-gray-500 mt-6">
        affiliated with <a class="underline hover:text-black" href="/"
          >geeta.prasuco.com</a
        >
      </p>
    </div>
  </div>
</BaseHead>
