---
import { getCollection } from "astro:content";
import "../styles/globals.css";
const chapters = await getCollection("chapters");
import { ClientRouter } from "astro:transitions";
import BaseHead from "../base/BaseHead.astro";

---

<BaseHead>
	
			<div
				class="header text-3xl flex flex-col items-center justify-center text-center"
			>
				geeta-mini in astro
			</div>
			<div class="main m-2 gap-2">
				{
					chapters.map((chapter) => (
						<a 
						
						transition:name={`chapter-name-${chapter.id}`}
						href={`/${chapter.id}`} class="">
							{chapter.data.name}
						</a>
						<br/>
					))
				}
			</div>

</BaseHead>
