---
import "../styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />

		<title>geetaMini</title>
	</head>
	<body>
		<div
			class="text-3xl flex flex-col items-center justify-center min-h-screen"
		>
			geeta-mini in astro
		</div>
	</body>
</html>
