---
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const sloks = await getCollection("sloks");

  return sloks.map((item) => ({
    params: {
      chapter: item.data.chapter.toString(),
      slok: item.data.verse.toString(),
    },
    props: { slok: item },
  }));
}

const { slok } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {slok.data.slok}
    <br />
    <br />
    {slok.data.raman.sc}
    <br />
    <br />
    {slok.data.raman.et}
  </body>
</html>
