---
type Props = {
  title?: string;
  showBottomBar?: boolean;
};

import { TableOfContents, CircleEllipsis } from "@lucide/astro";

const { title = "Chapters", showBottomBar = true } = Astro.props;
---

<div
  class="flex flex-col items-center min-h-screen mx-auto max-w-lg rounded-md"
>
  {/* Top Section */}

  {/* Content Section */}
  <main class="flex-1 w-full mx-auto relative bg-slate-100/70">
    <slot />
  </main>

  {/* Bottom Navigation */}
  {
    showBottomBar && (
      <footer class="w-full bg-white  mt-auto rounded-tl-lg rounded-tr-lg sticky shadow bottom-0">
        <div class="flex justify-around p-2 py-4 text-black text-sm">
          <a href="/" class="chapters flex flex-col items-center">
            <TableOfContents />
            <p>Chapters</p>
          </a>

          <a href="/about" class="more flex flex-col items-center">
            <CircleEllipsis />
            <p>About Us</p>
          </a>
        </div>
      </footer>
    )
  }
</div>
