---
type Props = {
  title?: string;
  showBottomBar?: boolean;
};

import { TableOfContents, CircleEllipsis, Mail, BookMarked } from "@lucide/astro";

const { title = "Chapters", showBottomBar = true } = Astro.props;
export const prerender = true;
---

<div class="flex flex-col min-h-screen max-w-lg mx-auto bg-background">
  <main class="flex-1">
    <slot />
  </main>

  {
    showBottomBar && (
      <footer class="border-t border-gray-100 bg-white">
        <nav class="flex justify-around text-xs text-gray-600">
          <a href="/" class="flex flex-col items-center gap-1 p-3">
            <TableOfContents class="w-5 h-5" />
            <p>Chapters</p>
          </a>
          <a href="/geeta-mail" class="flex flex-col items-center gap-1 p-3 text-orange-600">
            <Mail class="w-5 h-5" />
            <p>Mail</p>
          </a>
          <a href="/bookmarks" class="flex flex-col items-center gap-1 p-3">
            <BookMarked class="w-5 h-5" />
            <p>Saved</p>
          </a>
          <a href="/about" class="flex flex-col items-center gap-1 p-3">
            <CircleEllipsis class="w-5 h-5" />
            <p>About</p>
          </a>
        </nav>
      </footer>
    )
  }
</div>
