---
type Props = {
  title?: string;
  showBottomBar?: boolean;
};

import { TableOfContents, CircleEllipsis, Search, Mail, BookMarked } from "@lucide/astro";

const { title = "Chapters", showBottomBar = true } = Astro.props;
export const prerender = true;
---

<div
  class="flex flex-col items-center min-h-screen max-w-lg mx-auto"
>
  {/* Content Section */}
  <main class="flex-1 w-full mx-auto relative bg-background">
    <slot />
  </main>

  {/* Bottom Navigation */}
  {
    showBottomBar && (
      <footer class="w-full bg-white mt-auto rounded-tl-lg rounded-tr-lg sticky shadow bottom-0">
        <div class="flex justify-around p-2 py-4 text-black text-sm">
          <a href="/" class="chapters flex flex-col items-center">
            <TableOfContents />
            <p>Chapters</p>
          </a>



          <a href="/geeta-mail" class="mail flex flex-col items-center text-orange-600">
            <Mail />
            <p>Geeta Mail</p>
          </a>

          <a href="/bookmarks" class="bookmarks flex flex-col items-center">
            <BookMarked />
            <p>Saved</p>
          </a>

          <a href="/about" class="more flex flex-col items-center">
            <CircleEllipsis />
            <p>About</p>
          </a>
        </div>
      </footer>
    )
  }
</div>
