---
import { ClientRouter } from "astro:transitions";
import "../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>geetaMini</title>
    <link rel="sitemap" href="/sitemap-index.xml" />

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
